.overall{
	margin-left : 10%;
	margin-right : 10%;
	background-image: url('./blueTextureBG.jpg')
}

.content{
	border:10px solid white;
	background-color: white;
}

#first{
	font-weight: bold;
}

.title{
	text-align: right;
    overflow: visible ;
    background-color: #1D2475;
    color : white;
}

.subtitle{
	color :#CCCCCC;
	font-size: 14px;
}

.section{
	border:4px solid #1d2475;
	background-color: #99ccff;
	margin-top: 10px;
	padding: 5px;
	border-radius: 15px;
	overflow: hidden;

}

.sectitle{
	border-bottom:2px dashed blue;
}

.cont{
    background-color: #A6CE39;
    margin-left: 180px;
}

.cont :nth-child(2) :nth-child(1){
    background-color: #A6CE39;
}

.image{
    float: right;
    background-color: transparent !important;
}

.link{
    margin-top : 10px;
    margin-right: 5px;
    border : 4px solid#1D2475;
    border-radius: 15px;
    float : left;
    padding: 5px;
    background-color: #1464e3;
    color :gray;
}